body{
    margin: 0;
    padding: 0;
    background: #dd1818;
    background-image: linear-gradient(to top, #222, #dd1818);
    font-family: sans-serif;
}

form{
    margin: 0;
    padding: 0;
}

.login-box{
    background: rgb(0, 0, 0, 0.9);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: 10px;
}

h1{
    margin: 0 0 20px;
    padding: 0 0 0px;
    text-align: center;
    font-size: 24px;
    
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
    outline: none;
}

.login-box input[type = "text"], input[type = "password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type = "submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #555;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.login-box input[type = "submit"]:hover{
    cursor: pointer;
    background: #fb2525;
    color: #fff;
    outline: none;
}

.login-box a{
    text-decoration: none;
    color: darkgrey;
    font-size: 12px;
    line-height: 20px;
    outline: none;
}

a:hover{
    cursor: pointer;
}

footer{
    background: rgb(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    padding: 5px;
    text-align: center;
    top: 100%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -150%);
    border-radius: 10px;
    padding: 10px;
}